extends ../layout

block content
    h1.
        #{title}
    form#contact(name="buscarPersona", method="post", action="/personas/busqueda/")
        p Nombre:
            input#inputNombre(type="text", placeholder="Ejem. Javier", name="nombre")
        p
            button#btnEnviar(type="submit") Buscar

        